name: CI
on: [ push, pull_request, workflow_dispatch ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Add localtest.me to /etc/hosts
        run: echo "127.0.0.1 verifier.localtest.me" | sudo tee -a /etc/hosts

      - name: Build and test
        run: mvn --batch-mode verify
